%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "Blog", current_user, id: "logo"
      %nav
        %ul.nav.pull-right
          - if signed_in?
            = link_to 'Create post', welcome_index_path, class: "btn btn-xs btn-info"
            = link_to "Mailbox", conversations_path, class: "btn btn-xs btn-info"
            = link_to 'My Blog', articles_path, class: "btn btn-xs btn-info"
            %li= link_to "Users", users_path
            %li#fat-menu.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Account
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Profile", current_user
                %li= link_to 'My Blog', controller: 'articles'
                %li= link_to "Settings", edit_user_path(current_user)
                %li.divider
                %li
                  = link_to "Sign out", signout_path, method: "delete"
          - else
            %li= link_to "Sign in", signin_path